@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#app img, h1, h3, button {
    margin: 1rem 0;
}

#app img {
    border-radius: 50%;
    border-width: 5px;
    border-style: solid;
}

#app button {
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 10px;
    transition: .3s;
    color: #fff;
    font-size: 14px;
}

#app button:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: .3s;
}

.male {
    border-color: steelblue;
    background-color: steelblue;
}
.female {
    border-color: pink;
    background-color: pink;
    color: #333;
}